.lol{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap ;
}

.pop{
  display: flex;
  align-items: center;
}

.top{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 45px;
  margin-right: 45px;
}